@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');

h1,
a{
    font-family: Antonio;

}

a{
    color: violet;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 5px;

    text-decoration: none;
    text-align: center;
    background:#9fb0ff;
    border-radius: 20px;

}

h1{
    background-color:#9fb0ff;
    text-align: center;
    padding: 5px;
    border-radius: 25px;

}

.fila{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col{
    flex: 0 0 calc(33.33% - 30px);
    margin: 5px;
}

img{
    height: 200px;
    width: 100%;
}

form{
    display:block;
    margin: 10% auto;
    max-width: 850px;
    width: 80%;
}

form input,
form button{
    width: 85%;
    padding: 10px;
    margin: 30px;
    font-size: 20px;
    font-weight: 500;
}

form button{
    background-color:#9fb0ff;
    text-align:center;
    border-radius: 5px;
    border-style:none;

}

form button:hover{
    color:#fff;
    cursor:pointer;
}

a:hover{
    background: #95D1CC;
    color:#2b1055;
}