{%extends "Cursos.html"%}

{% block header %}
{% endblock %}

{% block body %}
    <div class="opciones admin">
        <div class="ver-cursos">
            <a href="/Cursos"><img src="../static/img/ver-curso.png" alt="forito-admin"></a>
        </div>
        <div class="Subir-cursos">
            <a href="/formImage"><img src="../static/img/subir-cursos.png" alt=""></a>
        </div>
        <div class="administrar-foros">
            <a href="/foro-comentarios"><img src="../static/img/foro-admin.png" alt=""></a>
        </div>
    </div>
{% endblock %}
{% block footer%}
{% endblock %}
