<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso de Java</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
    <div id="log"></div>
    <button id="btn2">Session 1</button>
    <button id="btn3">Session 2</button>
    <h1>Curso Java</h1>
    <div id="box1" class="clase-1">
        <p>
            <h2>Introduccion a Java</h2>
            Java en un lenguaje moderno de programación de alto nivel, diseñado al inicio de los años 90 por Sun Microsystems y actualmente propiedad de Oracle.

            Java es una Independiente de la Plataforma, lo que significa que ¡sólo necesitas escribir el programa una vez para poderlo ejecutar en varias plataformas diferentes!
            Java es portable, robusto y dinámico, con la habilidad de ajustarse a las necesidades de virtualmente cualquier tipo de aplicación

            Java es utilizado para desarrollar aplicaciones para Android de Google, diversas aplicaciones para Escritorio, como reproductores multimedia, programas antivirus, Aplicaciones Web, Aplicaciones Empresariales (por ejemplo, Bancarias) ¡y muchas más!
        </p>
        <button>Regresar</button>
    </div>
    <div class="box2">
        <h2>A Hello World Program</h2>
           <p>       
        
            Tu primer programa 
            
            Vamos a comenzar creando un programa sencillo que imprima "Hello World" en la pantalla.
            	class MyClass {
              
            		  public static void main(String[ ] args) {
                    
            			System.out.println("Hello World");
                
            		}
            	
            }
            En Java, cada línea de código que se puede ejecutar necesita estar dentro de una clase.
            En nuestro ejemplo, nombramos la clase MyClass. Aprenderás más sobre clases en los próximos módulos.
            
            En Java, cada aplicación tiene un punto de entrada, o un punto de partida, el cual es un método llamado main. </p>

    </div>
    <script>
        $( "#btn2" ).click(function() {
            function complete() {
                $( "div" ).text( this.id ).appendTo( "#log" );
            }
        $( "#box1" ).fadeOut( complete );
        $( "#box2" ).fadeOut( complete );
        $( "div" ).show();
        $( "#log" ).empty();
        });

        $( "#btn3" ).click(function() {
            function complete() {
                $( "div" ).text( this.id ).appendTo( "#log" );
            }
        $( "#box2" ).fadeOut( complete );
        $( "div" ).show();
        $( "#log" ).empty();
        });
    </script>
</body>
</html>