<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Curso de c</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>

</head>

<body>

    <div id="main">

        <button id="c-s1">Session 1</button>
        <button id="c-s2">Session 2</button>

        <h1>Curso De C</h1>

        <div id="cbox1" class="clase-1">
            <p>
                Bienvenido al curso de C, en donde encontraras informacion basica sobre este lenguaje
                <br><br>
                Esperamos aprendas con nosotros uwu
            </p>

        </div>

        <div id="cbox2" class="clase-2">
            las variables en c son varias xd <br>

        		*Aquí iría una tabla chingona*
        </div>

        <a href="/Cursos" id="back"><h4>Regresar</h4></a>

    </div>

    <script src="/static/scripts/scriptCursos.js"></script>
</body>
</html>