<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
    <button id="python-s1">Session 1</button>
    <button id="python-s2">Session 2</button>

    <h1>CURSO PYTHON</h1>
    <div id="pbox1" class="clase-1">
        <p>
            session 1 Introducción:

            Python es un lenguahe popular, es usado para desarrollo web, desarrollo de softwate, ciencia de datos entre otros <br><br>

            ¿Qué puede hacer Python? <br><br>

            Python se puede utilizar en un servidor para crear aplicaciones <br>
            Python se puede utilizar junto con el software para crear flujos de trabajo. <br>
            Python puede conectarse a sistemas de bases de datos. También puede leer y modificar archivos. <br>
            Python se puede utilizar para manejar big data y realizar matemáticas complejas. <br>
            Python se puede utilizar para la creación rápida de prototipos o para el desarrollo de software listo para la producción. <br><br>

            Sintaxis: <br><br>

            	- identación: <br><br>

            		La sangría se refiere a los espacios al principio de una línea de código.
            		Mientras que en otros lenguajes de programación la sangría en el código es solo para legibilidad, l
            		a sangría en Python es muy importante porque usa la sangría para indicar un bloque de código. <br><br>

            		por ejemplo: <br>
            			&emsp;if 5 > 2: <br>
            				&emsp;&emsp;print("Five is greater than two!") <br><br>

            	- comentarios: <br>
            		A diferencia de otros lenguajes se pone # para simbolizar que una línea será comentarea <br><br>
            		ejemplo: <br>
            			&emsp;#This is a comment <br><br>

            		para comentarios de más de una linea son ''' '' <br><br>
            		ejemplo: <br>
            			&emsp;""" <br>
            			&emsp;This is a comment <br>
            			&emsp;written in <br>
            			&emsp;more than just one line <br>
            			&emsp;"""' <br><br>
            Variables: <br>
            		python no tiene un comando especifico para declara una variable, puede ser creada de ya con un valor asignado <br><br>
            		ejemplo: <br>
            			&emsp;x = 5 <br>
            			&emsp;y = "John" <br>
            			&emsp;print(x) <br>
            			&emsp;print(y) <br><br>

            	Casting: <br>
            		Si quieres especificar el tipo de dato de una variable, esta puede ser casteada al igual que con el casting, podemos pasar una variable de string a entero, etc. <br><br>

            		ejemplo: <br>
            			&emsp;x = str(3) <br>
            			&emsp;y = int(3) <br>
            			&emsp;z = float(3) <br>
        </p>
    </div>

    <div id="pbox2" class="clase-1">
        <h2>Tipos de Datos:</h2> <br>
    	En programación, el tipo de datos es un concepto importante. <br><br>

    	Las variables pueden almacenar datos de diferentes tipos, y diferentes tipos pueden hacer cosas diferentes. <br><br>

    	Python tiene los siguientes tipos de datos integrados de forma predeterminada, en estas categorías: <br><br>

    	&emsp;Tipo de texto: str <br>
    	&emsp;Tipos numéricos: int, float, complex <br>
    	&emsp;Tipos de secuencia: lista, tupla, rango <br>
    	&emsp;Tipo de mapeo: dict <br>
    	&emsp;Tipos de conjunto: set, frozenset <br>
    	&emsp;Tipo booleano: bool <br>
    	&emsp;Tipos binarios: bytes, bytearray, memoryview <br><br>

    	Valores booleanos <br>
    		En la programación a menudo es necesario saber si una expresión es True o False. <br>
    		Puede evaluar cualquier expresión en Python y obtener una de las dos respuestas, True o False.
    		Al comparar dos valores, se evalúa la expresión y Python devuelve la respuesta booleana: <br><br>

    		ejemplo: <br>
    			&emsp;print(10 > 9) <br>
    			&emsp;print(10 == 9) <br>
    			&emsp;print(10 < 9) <br><br>

    	Operadores: <br>

    		Python divide los operadores en los siguientes grupos: <br><br>

    		&emsp;Operadores aritméticos <br>
    		&emsp;Operadores de asignación <br>
    		&emsp;Operadores de comparación <br>
    		&emsp;Operadores lógicos <br>
    		&emsp;Operadores de identidad <br>
    		&emsp;Operadores de membresía <br>
    		&emsp;Operadores bitwise <br><br>

    		*Aquí iría una tabla chingona* <br>
    </div>

    <a href="/Cursos" id="back"><h4>Regresar</h4></a>

    <script src="/static/scripts/scriptCursos.js"></script>
</body>
</html>