<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width= , initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
</head>
<body>
    <div id="log"></div>
    <button id="btn2">Session 1</button>
    <button id="btn3">Session 2</button>
    <h1>CURSO PYTHOn</h1>
    <div id="box1" class="clase-1">
        <p>
            session 1 Introducción:

            Python es un lenguahe popular, es usado para desarrollo web, desarrollo de softwate, ciencia de datos entre otros

            ¿Qué puede hacer Python?

            Python se puede utilizar en un servidor para crear aplicaciones web.
            Python se puede utilizar junto con el software para crear flujos de trabajo.
            Python puede conectarse a sistemas de bases de datos. También puede leer y modificar archivos.
            Python se puede utilizar para manejar big data y realizar matemáticas complejas.
            Python se puede utilizar para la creación rápida de prototipos o para el desarrollo de software listo para la producción.

            Sintaxis:

            	- identación:

            		La sangría se refiere a los espacios al principio de una línea de código.
            		Mientras que en otros lenguajes de programación la sangría en el código es solo para legibilidad, l
            		a sangría en Python es muy importante porque usa la sangría para indicar un bloque de código.

            		por ejemplo:
            			if 5 > 2:
            				print("Five is greater than two!")

            	- comentarios:
            		A diferencia de otros lenguajes se pone # para simbolizar que una línea será comentarea
            		ejemplo:
            			#This is a comment

            		para comentarios de más de una linea son ''' ''
            		ejemplo:
            			"""
            			This is a comment
            			written in
            			more than just one line
            			"""'
            Variables:
            		python no tiene un comando especifico para declara una variable, puede ser creada de ya con un valor asignado
            		ejemplo:
            			x = 5
            			y = "John"
            			print(x)
            			print(y)

            	Casting:
            		Si quieres especificar el tipo de dato de una variable, esta puede ser casteada al igual que con el casting, podemos pasar una variable de string a entero, etc.

            		ejemplo:
            			x = str(3)
            			y = int(3)
            			z = float(3)
        </p>
        <button>Regresar</button>
    </div>
    <div class="box2">
        tipos de datos:
    	En programación, el tipo de datos es un concepto importante.

    	Las variables pueden almacenar datos de diferentes tipos, y diferentes tipos pueden hacer cosas diferentes.

    	Python tiene los siguientes tipos de datos integrados de forma predeterminada, en estas categorías:

    	Tipo de texto: str
    	Tipos numéricos: int, float, complex
    	Tipos de secuencia: lista, tupla, rango
    	Tipo de mapeo: dict
    	Tipos de conjunto: set, frozenset
    	Tipo booleano: bool
    	Tipos binarios: bytes, bytearray, memoryview

    	Valores booleanos
    		En la programación a menudo es necesario saber si una expresión es True o False.
    		Puede evaluar cualquier expresión en Python y obtener una de las dos respuestas, True o False.
    		Al comparar dos valores, se evalúa la expresión y Python devuelve la respuesta booleana:

    		ejemplo:
    			print(10 > 9)
    			print(10 == 9)
    			print(10 < 9)
    	Operadores:

    		Python divide los operadores en los siguientes grupos:

    		Operadores aritméticos
    		Operadores de asignación
    		Operadores de comparación
    		Operadores lógicos
    		Operadores de identidad
    		Operadores de membresía
    		Operadores bitwise

    		*Aquí iría una tabla chingona*
    </div>
    <script>
        $( "#btn2" ).click(function() {
            function complete() {
                $( "div" ).text( this.id ).appendTo( "#log" );
            }
        $( "#box1" ).fadeOut( complete );
        $( "#box2" ).fadeOut( complete );
        $( "div" ).show();
        $( "#log" ).empty();
        });

        $( "#btn3" ).click(function() {
            function complete() {
                $( "div" ).text( this.id ).appendTo( "#log" );
            }
        $( "#box2" ).fadeOut( complete );
        $( "div" ).show();
        $( "#log" ).empty();
        });
    </script>
</body>
</html>