 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/css/styles-foro.css" type = "text/css" rel="stylesheet"/>
    <title>Foro</title>
</head>z
<body>

    <div class="container">
        <div class="rows">
            <div class="col-6"></div>
                <h3> Bienvenido al Foro</h3>
                <form name="frm" action="" class="form_comentarios">
               
              
                    <label for="comment">Escribe tu pregunta:</label>
                    <textarea class="form-control" name="msg"  rows="5" placeholder="Comentario" required></textarea>
                
                    <input type="button" id="butsave" name="save" class= "btn" value="send">
                </form>
        </div>
   </div>
<div class="papel panel-default">

    <h4>Recientes preguntas</h4>

    <p>

    </p>
</div>
</body>
</html>