{% extends "User.html" %}

{% block header%}
{% endblock %}

{%block body %}
   <body onload="comentarios()">
       <div class="tabla">
         <table class="table table-striped table-dark">
            <thad>
              <tr>
                <th>USUARIO</th>
                <th>COMENTARIO</th>
              </tr>
            </thad>
            <tbody id="tablaCuerpo">

            </tbody>
          </table>

          <script src="{{ url_for('static', filename='scripts/scripts.js') }}"></script>
     </div>
     <div class="boton">
              <a href="/admin" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">REGRESAR</a>
      </div>
   </body>
{% endblock %}

{% block footer%}
{% endblock %}