 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/cursos.css">
    <link href="../static/css/styles-foro.css" type = "text/css" rel="stylesheet"/>
    <title>Foro</title>
</head>
<header>
            <div class="icons-enlaces">
                <ul>
                    <div class="text">
                        <h1>NETCODE</h1>
                    </div>
                    <div class="image-icon">
                        <li><a href="/admin"> <img src="../static/img/home.png" alt="homeicon"> Home</a></li>
                    </div>
                    <div class="image-icon">
                        <li><a href="#"><img src="../static/img/chat.png" alt="homeicon">Foro</a></li>
                    </div>
                    <div class="image-icon">
                        <li><a href="/formImage"> <img src="../static/img/book.png" alt="bibliotecaicon"> Biblioteca</a></li>
                    </div>
                    <div class="image-icon">
                        <li><a href="#"><img src="../static/img/usericon.png" alt="user">usuario</a></li>
                    </div>
                    <div class="image-icon">
                        <li><a href="/logout"><img src="../static/img/logout.png" alt="logout">log out</a></li>
                    </div>
                </ul>
            </div>
</header>
<body>
    <form action="/foro" method="post">



        <div class="container">
            <div class="rows_comentarios justify-content-center">
                <div class="col-6">

                    <h1> Bienvenido al Foro</h1>

                <!--    <form action="/foro" class="form_comentarios d-flex justify-content-end flex-wrap" method="post"> -->
            <!--        </form> -->

                    <div id="global">

                        {% for i in range(results) %}

                            <div id="mensajes">
                                <img src="../static/img/usericon.png" width="64" height="64" alt="">

                                <p>
                                    {{comentario[loop.index - 1]}} <br><br>
                                    comment by: {{name[loop.index - 1]}}; at: <span>{{date[loop.index - 1]}}, {{time[loop.index - 1]}}</span> <br>

                                </p>
                            </div>

                            <br><br>
                        {% endfor %}

                    </div>
                    <br><br>
                    <textarea class="form-control" name="comentario" cols="110"  rows="10" placeholder="Comentario"></textarea> <br><br>

                    <button class="btn" type=submit>Comentar</button> <br><br><br>

                </div>
            </div>

        </div>

</body>
</html>