{%extends "layout.html"%}



{%block head%}

    <link href="../static/css/styles-home.css" type = "text/css" rel="stylesheet"/>

{%endblock%}

{%block body%}

  <header>
       <div class="logo">
           <a href="#sec">NetCode</a>
       </div>
       <div class="enlaces">

            <ul>
                <li><a href="/" class="active">Home</a></li>
                <li><a href="/login">Log</a></li>
                <li><a href="/registro">Registro</a></li>
                <li><a href="#">Quienes somos?</a></li>
           </ul>
       </div>

    </header>

    <section>
        <img src="../static/img/stars.png" alt="no funciono :'V" id="stars">
        <img src="../static/img/moon.png" alt="no funciono :'V" id="moon">
        <img src="../static/img/mountains_behind.png" alt="no funciono :'V" id="mountains_behind">
        <h2 id="text">NetCode</h2>
        <img src="../static/img/mountains_front.png" alt="no funciono :'V" id="mountains_front">


    </section>


    <div class= "sec" id= "sec">
        <h1>¿Que es NetCode?</h1>
        <p>
            NetCode es una paguina Web en donde podras encontrar una gran variedad de Cursos sobre los lenguajes de programacion mas
            utilizados en la actualidad.
            <br><br>
            Comienza a descubrir nuevos lenguajes con nuestros cursos avanzados e idelaes para personas con o sin experiencia en PROGRAMACION
            <br><br>
            Te Esperamnos!!!!!! :)
        </p>

    </div>

    <script>
        let star = document.getElementById('stars');
        let moon = document.getElementById('moon');
        let mountains_behind = document.getElementById('mountains_behind');
        let text = document.getElementById('text');
        let mountains_front = document.getElementById('mountains_front');
        let header = document.querySelector('header');

        window.addEventListener('scroll',function(){
            let value = window.scrollY;
            stars.style.left = value *0.25 + 'px';
            moon.style.top = value *1.05 + 'px';
            mountains_behind.style.top = value * 0.5 + 'px';
            mountains_front.style.top = value * 0 + 'px';
            text.style.marginRight = value * 4 + 'px'
            text.style.marginTop = value * 1.5  + 'px'
            header.style.top = value * 0.5 + 'px';
        })
    </script>







{%endblock%}