<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Netcode</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet"/>

    <link href="/static/style_home2.css" rel="stylesheet"/>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>


</head>

<body>
    <div class = "menu" >
        <h2>NETCODE</h2>
        <div class = "bottons">
            <a href="/home2"><img src="../static/img/homeicon.png" alt="home"></a>
            <a href="/formImage"><img src="../static/img/booksicon.png" alt="biblioteca"></a>
            <a href="#"><img src="../static/img/foroicon.png" alt="foro"></a>
            <a href="/logout" method="post"><img src="../static/img/logouticon.png" alt="cerrar-sesion"></a>
        </div>
    </div>
    <div class = "main-container">
        <div id="log"></div>

        <div class = "slider">
            <div id="demo" class="carousel slide" data-ride="carousel">
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="../static/img/1.png" alt="Ora ora" width="500" height="200">
                </div>
                <div class="carousel-item">
                    <img src="../static/img/2.png" alt="jotaro" width="500" height="200">
                </div>
                <div class="carousel-item">
                    <img src="../static/img/3.png" alt="lero lero" width="500" height="200">
                </div>
              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
              </a>
            </div>
        </div>
        <div class="user-settings">
                <img src="../static/img/usericon.png" alt="user-icon">
                USER
        </div>
        <div class= "cursos">
            <H2>CURSOS</H2>
            <div class= "curso-c" id="c">
                <a href="/C"><img src="../static/img/C.png" alt=""></a>
            </div>
            <div class= "curso-P" id="p">
                <a href="/Cpython"><img src="../static/img/python.png" alt=""></a>
            </div>
            <div class= "curso-X" id="j">
                <a href="/Java"><img src="../static/img/X.png" alt=""></a>
            </div>
        </div>
    </div>

</body>

</html>