<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../static/styles.css" type = "text/css" rel="stylesheet"/>
    <!--/NetCode_Proyect/NetCode/static/styles.css-->
    <title>{%block title%}{%endblock%}</title>

</head>
<body>
    <nav class= "menu">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/login">Log</a>
            </li>
            <li>
                <a href="">Registro</a>
            </li>
        </ul>

    </nav>

    {%block body%}
        
    {%endblock%}
</body>
</html>