{%extends "layout.html"%}

{%block title%}Login{%endblock%}

{%block head%}<link href="../static/css/styles.css" type = "text/css" rel="stylesheet"/>{%endblock%}


{%block body%}
<div class="login_box">

    <br>
    <br>
    <br>

    <img class="avatar" src="/static/img/icono_1.png" alt="imagen">

    <h1>login Here</h1>

    <form action="/login" method="POST">

        <!--nombre del usuario-->


        <label for="username">Username</label>
        <input type="text" placeholder="Enter username" id="username" name="username">


        <!--password-->
        <label for="password">Password</label>
        <input type="password" placeholder="Enter Password" id="password" name=password>


        <input type="submit" value= "Login">

        <a href="recover">Lost your password ?</a><br />
        <a href="registro">Dont have an account ?</a>

    </form>
</div>
{%endblock%}
