{%extends "layout.html"%}

{%block title%}Registro{%endblock%}

{%block head%}<link href="../static/styles.css" type = "text/css" rel="stylesheet"/>{%endblock%}

{%block body%}

    <div class="login_box">
        <form action="/registro" method="POST">

            <h1 class = "form_titulo">register here</h1>

                <label for="username">Name:</label>
                <input type="text" placeholder="Enter username" name="name" id="name">

                <label for="nick">UserName:</label>
                <input type="text" placeholder="Enter lastname" name="nick" id="nick">

                <label for="email">Email</label>
                <input type="email" placeholder="Enter email" name="email" id="email">

                <label for="password">Contraseña</label>
                <input type="password" placeholder="Enter password" name="password" id="password">

                <input type="submit" value= "Registrar">

        </form>
    </div>

{%endblock%}