<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../static/css/cursos.css">
    <link href="../static/css/styles-foro.css" type = "text/css" rel="stylesheet"/>

    <title>Respuestas</title>
</head>
<body>

    <form action="ForoRespuesta" method="post">

        <textarea class="form-control" name="comentario" cols="30"  rows="10" placeholder="Comentario"></textarea> <br><br>

        <button class="btn" type=submit>Comentar</button> <br><br><br>

    </form>


</body>
</html>