{%extends "User.html"%}


{% block header %}
    <div class="icons-enlaces">
                <ul>
                    <div class="text">
                        <h1>NETCODE</h1>
                    </div>
                    <div class="image-icon">
                        <li><a href="/admin"> <img src="../static/img/home.png" alt="homeicon"> Home</a></li>
                    </div>
                    <div class="image-icon">
                        <li><a href="/foro"><img src="../static/img/chat.png" alt="homeicon">Foro</a></li>
                    </div>
                    <div class="image-icon">
                        <li><a href="/Almacen/1"> <img src="../static/img/book.png" alt="bibliotecaicon"> Biblioteca</a></li>
                    </div>
                    <div class="image-icon">
                        <li><a href="/logout"><img src="../static/img/logout.png" alt="logout">log out</a></li>
                    </div>
                </ul>
            </div>
{% endblock %}


{% block body %}
    <br><br><br><br><br><br><br>
    <form class="formulario-tema"  method="post" enctype="multipart/form-data" >
        <h3>Escribe tu tema</h3>
        <div class="clases">
            <input id="msg" type="text" class="form-control" name="msg" placeholder="Nombre del tema">
            <br><br>
            <textarea class="form-control" name="contenido" rows="5" id="comment" placeholder="Escriba el contendio aquí..."></textarea>
        </div>
        <br><br>
        <div class="boton">
            <button type="submit" class="btn btn-lg btn-primary" >Subir</button>
        </div>
  </form>
{% endblock %}

{% block footer%}

{% endblock %}
