{%extends "User.html"%}


{% block header %}
    <div class="icons-enlaces">
                <ul>
                    <div class="text">
                        <h1>NETCODE</h1>
                    </div>
                    <div class="image-icon">
                        <li><a href="/admin"> <img src="../static/img/home.png" alt="homeicon"> Home</a></li>
                    </div>
                    <div class="image-icon">
                        <li><a href="/foro"><img src="../static/img/chat.png" alt="homeicon">Foro</a></li>
                    </div>
                    <div class="image-icon">
                        <li><a href="/Almacen/1"> <img src="../static/img/book.png" alt="bibliotecaicon"> Biblioteca</a></li>
                    </div>
                    <div class="image-icon">
                        <li><a href="/logout"><img src="../static/img/logout.png" alt="logout">log out</a></li>
                    </div>
                </ul>
            </div>
{% endblock %}


{% block body %}
    <br><br><br><br><br><br><br>

    <div class="sessions"> <!-- en este div se cargaran los botones dependiendo de el numero de temas en un curso -->
        {% for result in range(temas) %}
            <p>Tema {{ result }}: {{ Nombres[loop.index - 1] }}</p>
            <br><br>
        {% endfor %}
        <br><br>
    </div>
    <br><br>
    <div>
        <form action="/subir-tema/{{c_id}}">
            <button type="submit">Subir tema</button>
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <a href="/Almacen-cursos/{{c_id}}">volver</a>

{% endblock %}

{% block footer%}

{% endblock %}