*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.BIENVENIDA-HOME
{
    width: 100%;
}
header
{
    background-color: #3d5afe;
    position: fixed;
    width:100%;
    height: 19%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-color: #FFF;
    border-width: 0px 0px 5px 0px;
    margin-bottom: 19%;
    z-index: 1000;

}

.icons-enlaces {
    display: flex;
    z-index: 1;
}

header .icons-enlaces ul
{
    display:flex;
    justify-content: center;
    align-items: center;
}

header .icons-enlaces ul .text h1
{
    float: right;
    font-family: 'M PLUS Code Latin', sans-serif;
    text-align: center;
    margin-left: 120px;
    margin-right: 550px;
    color: #FFF;
}

header .icons-enlaces ul .image-icon li
{
    List-style: none;
    font-family: 'M PLUS Code Latin', sans-serif;
}
header .icons-enlaces ul .image-icon li a
{
    margin-left: 100px;
    text-decoration: none;
    padding: 6px 15px;
    color: #FFF;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

header .icons-enlaces ul .image-icon li a:link
{
    text-decoration: none;

}
header .icons-enlaces ul .image-icon:hover
{
    cursor: pointer;
}
header .icons-enlaces .image-icon li a img:hover
{
    width: 80px;
    height: 80px;
}
header .icons-enlaces .image-icon li a img
{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 60px;
    cursor:pointer;
}
body
{
    background-color:#1c0522;
    color:#FFF;
    overflow-x: hidden;
}
.BIENVENIDA-HOME img
{
    width: 100%;
    height: 600px;
}
.cursos
{
    margin-top: 7%;
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}
.cursos img
{
    width: 400px;
    height: 300px;
    margin-left: 180px;
    margin-bottom: 50px;
    border-radius: 5%;
    -webkit-box-shadow: -26px 15px 6px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: -26px 15px 6px -2px rgba(0,0,0,0.75);
        box-shadow: -26px 15px 6px -2px rgba(0,0,0,0.75);
    cursor: pointer;
}
.cursos img:hover
{
    width: 420px;
    height:310px;
    -webkit-box-shadow: 10px 11px 49px 26px rgba(78,224,212,1);
        -moz-box-shadow: 10px 11px 49px 26px rgba(78,224,212,1);
        box-shadow: 10px 11px 49px 26px rgba(78,224,212,1);
}
.main-container .slider
{
    margin-top: 3%;
    margin-left: 20%;
    width: 60%;
    height: 300px;
    -webkit-box-shadow: 6px 16px 6px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: 6px 16px 6px -2px rgba(0,0,0,0.75);
        box-shadow: 6px 16px 6px -2px rgba(0,0,0,0.75);
}

h2
{
    color:#FFF;
    margin-top: 5%;
    font-family: 'M PLUS Code Latin', sans-serif;
    text-align: center;
}
footer
{
    background-color: #8187ff;
    width:100%;
    height: 10%;
    display: flex;
    border-style: solid;
    border-color: #FFF;
    border-width: 5px 0px 0px 0px;
}
footer p
{
    margin-left: 200px;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
}
footer .contac-us .Integrantes ul
{
    display:flex;
    justify-content: center;
    align-items: center;
}
footer .contac-us .Integrantes ul li
{
    List-style: none;
    font-family: 'M PLUS Code Latin', sans-serif;
}
footer .contac-us .Integrantes ul li a
{
    text-decoration: none;
}
footer .contac-us .Integrantes ul li a img
{
    width: 50px;
    height: 50px;
    color: black;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

/*vista admin*/
.opciones.admin
{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: #1c0522;

}

.opciones.admin img
{
    margin-top: 35%;
    width: 400px;
    height: 300px;
    margin-left: 180px;
    margin-bottom: 50px;
    border-radius: 5%;
    -webkit-box-shadow: -26px 15px 6px -2px rgba(0,0,0,0.75);
        -moz-box-shadow: -26px 15px 6px -2px rgba(0,0,0,0.75);
        box-shadow: -26px 15px 6px -2px rgba(0,0,0,0.75);
    cursor: pointer;
}

.opciones.admin .administrar-foros img
{
    margin-top: 5%;
}

.opciones.admin img:hover
{
    -webkit-box-shadow: 10px 11px 49px 26px rgba(78,224,212,1);
        -moz-box-shadow: 10px 11px 49px 26px rgba(78,224,212,1);
        box-shadow: 10px 11px 49px 26px rgba(78,224,212,1);
}
.tabla
{
    display: flex;
}
/*tabla del curso*/
.tabla table
{
    height: 500px;
}
.tabla table, th, td
{
  margin-top: 10%;
  width: 70%;
  margin-left: 14%;
}

.boton
{
    display:flex;
    justify-content: space-between;
}
.boton a
{
    margin: 1% 45%;
}

/*Para arquitectura curso*/

.texto
{
    display: flex;
}

.texto h1
{
    margin-top: 10%;
    margin-left:43%;

}
 .sessions
{
    width: 30%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    float: left;
}


.cursos-container .sessions #tema
{
    float: right;
}
#tema
{
    width: 60%;
    margin-left: 35%;
    text-align: justify;
    font-family: 'M PLUS Code Latin', sans-serif;
}
.btn.btn-primary.btn-block
{
    float:left;
    margin-top: 2%;
}

/*Responsive del menu*/
.nav-palanca{
      color: blue;
      background: none;
      border: none;
      font-size: 60px;
      padding: 0 20px;
      line-height: 60px;
      cursor: pointer;
      display: none;
}

@media(max-width:1024px){
    .menu-responsive
    {
        flex-direction:column;
        background-color: white;
        width: 100%;
        align-items: center;
        justify-content: center;
        position: fixed;
        height: calc(100% -60px);
        overflow-y: auto;
        left: 100%;
        transition: left 0.3s;
    }
    .nav-palanca{
        display: block;
    }
    .nav-menu_visible{
        left: 0;
    }
    .nav-palanca:focus:not(:focus-visible){
        outline: none;
    }
    .text{
        display: none;
    }
}

@media(max-width:800px)
{
    .BIENVENIDA-HOME
    {
        position: relative;
        z-index: -1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
    }
    .BIENVENIDA-HOME img
    {
        width: 80%;
        height: auto;
    }
}

/*SUBIR CURSOS*/
.formulario-cursos
{
    width: 40%;
    display: inline-block;
    margin-left: 28%;
}
.formulario-cursos .boton
{
    width: 100%;
}
.formulario-cursos .boton button
{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 2%;
}