body
{
    background:#f2f2f2;
    font-family:sans-serif;
    display: flex;
}
body .container
{
    width: 100%;
    display: flex;
    postion: absolute;
    margin-top: 15%;
    margin-left: 30%;
}

 h1
{
    margin-left: 0%;
    text-align: center;
    margin-bottom:10%;
    margin-top: 10%;


}

.form_comentarios textarea {

    width: 50%;
    height: 84px;
    max-width:50%;
    min-width: 50%;
    min-height: 84px;
    max-height: 300px;
    padding: 10px;
    font-family: sans-serif;
    line-height: 30px;
    border: 1px solid #4b65d1;
    margin-bottom: 20px;

}

.form_comentarios .btn {

    background: #4b65d1;
    font-family: sans-serif;
    color: #fff;
    margin-bottom: 20px;
    justify-content: end;
    display:flex;
    flex-wrap: wrap;
}
.form_comentarios .btn:hover{
    box-shadow: 0px 0px 9px rgba(0,0,0,.35);
}

.media {
    padding-top: 20px;
}

.media img {
    margin-right: 10px;
    float:left;
}

.media .nombre {
    color: #4b65d1;
    margin-bottom: 0;
}
.media .nombre span {
    font-size: 12px;
    colors: #464646;
    margin-left: 10px;
}

.media .comentario {
    margin-top: 10px;
    width: 70%;

}

.media .botones {
    margin-bottom:10px;
    text: right;
}
.media .botones a{
    color:#acacac;
    font-size: 14px;
    margin-left: 20px;
}

.btn{
    margin-left: 88%;
    border: 5px solid blue;
    background: #FFF;
    width:100px;
    height:50px;
}
